doctype html
head  
table(
  align='center' 
  role='presentation' 
  cellspacing='0' 
  cellpadding='0' 
  border='0' 
  width='100%' 
  style=' width: 465px; margin: 40px auto; border: 1px solid #eaeaea; border-radius: 4px; padding: 20px;'
  )
  tr(style='width: 100%')
    td
      img(alt='Efortlex' src='https://www.efortlex.com/logo.png' width='auto' height='50' style='display: block; outline: none; border: none; text-decoration: none; margin: 0 auto; ')
      h1(style='color: #000000;font-size: 24px;text-align: center;padding: 0;margin: 30px 0;') Verify your email
      p(style='font-size: 16px; line-height: 26px; margin: 16px 0')
        | Hello #{ firstName },
      p(style='color: #000000; font-size: 14px; line-height: 24px')
        | Verify your email address so we know it&rsquo;s really you&mdash;and so we can
        | send you important information about your Efortlex account.
      p(style='color: #000000; font-size: 14px; line-height: 24px')
        | Below, you will find your verification code.
      table(style='text-align: center' align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
        tbody
          tr
            td
              div(style=' border-radius: 3px; color: #000; font-size: 16px; text-decoration: none; text-align: center; display: inline-block; p-x: 12px; p-y: 12px; line-height: 100%; max-width: 100%; ')
                span(style=' border-radius: 5px; color: #000; font-size: 16px; text-decoration: none; background-color: #eeeeee; text-align: center; display: inline-block; p-x: 12px; p-y: 12px; max-width: 100%; line-height: 120%; text-transform: none; mso-padding-alt: 0px; mso-text-raise: 9px; font-weight: bold; letter-spacing: 0.8rem; text-align: center; width: fit-content; padding: 12px 12px; ') #{ code }
        p(style='color: #000000; font-size: 14px; line-height: 24px')
            | Please note that the validity of this code will expire in 
            strong 10 minutes.
      p(style='font-size: 16px; line-height: 26px; margin: 16px 0')
        | Best,
        br
        | The Efortlex team
