doctype html
head  
table(
  align='center' 
  role='presentation' 
  cellspacing='0' 
  cellpadding='0' 
  border='0' 
  width='100%' 
  style=' width: 465px; margin: 40px auto; border: 1px solid #eaeaea; border-radius: 4px; padding: 20px;'
  )
  tr(style='width: 100%')
    td
      img(alt='Efortlex' src='https://www.efortlex.com/logo.png' width='auto' height='50' style='display: block; outline: none; border: none; text-decoration: none; margin: 0 auto; ')
      h1(style='color: #000000;font-size: 24px;text-align: center;padding: 0;margin: 30px 0;') Password Reset verification
      p(style='font-size: 16px; line-height: 26px; margin: 16px 0')
        | Hello #{ firstName },
      p(style='color: #000000; font-size: 14px; line-height: 24px')
        | We have received a request to reset your password
      p(style='color: #000000; font-size: 14px; line-height: 24px')
        | Below, you will find your verification link.
      table(style='text-align: center' align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
        tbody
          tr
            td
              a(href=link target='_blank' style='background-color: #4f46e5; border-radius: 3px; color: #fff; font-size: 16px; text-decoration: none; text-align: center; display: inline-block; p-x: 12px; p-y: 12px; line-height: 100%; max-width: 100%; padding: 12px 12px; ')
                span(style='background-color: #4f46e5; border-radius: 3px; color: #fff; font-size: 16px; text-decoration: none; text-align: center; display: inline-block; p-x: 12px; p-y: 12px; max-width: 100%; line-height: 120%; text-transform: none; mso-padding-alt: 0px; mso-text-raise: 9px; ') 
                | Reset Password
        p(style='color: #000000; font-size: 14px; line-height: 24px')
            | Please note that the validity of this link will expire in 
            strong 10 minutes.
      p(style='font-size: 16px; line-height: 26px; margin: 16px 0')
        | Best,
        br
        | The Efortlex team
